body {
	background-color: #212121;
	color: aliceblue;
}

a {
	color: #1E90FF;
	text-decoration: none;
}a:visited {
	color: #2f93e5;
}a[href*="wikipedia.org/wiki/"]:after {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/07/Wikipedia_logo_%28svg%29.svg);
  background-size: 20px 20px;
  display: inline-block;
  width: 20px; 
  height: 20px;
  content:"";
}

/* Filetype icons */
a:not([href*="/"]):before {
	background: url('/aif/icons/unknown.svg');
}

/* Images */
a[href$=".png"]:before {
	background: url('/aif/icons/png.svg');
}a[href$=".jpg"]:before, a[href$=".jpeg"]:before {
	background: url('/aif/icons/jpg.svg');
}a[href$=".gif"]:before {
	background: url('/aif/icons/gif.svg');
}a[href$=".svg"]:before {
	background: url('/aif/icons/svg.svg');
}

/* Image editors */


/* Videos */
a[href$=".mp4"]:before {
	background: url('/aif/icons/mp4.svg');
}a[href$=".avi"]:before {
	background: url('/aif/icons/avi.svg');
}

/* Sound */
a[href$=".mp3"]:before {
	background: url('/aif/icons/svg.mp3');
}

/* Text */
a[href$=".txt"]:before {
	background: url('/aif/icons/txt.svg');
}a[href$=".css"]:before {
	background: url('/aif/icons/css.svg');
}a[href$=".js"]:before {
	background: url('/aif/icons/js.svg');
}a[href$=".pdf"]:before {
	background: url('/aif/icons/pdf.svg');
}a[href$=".php"]:before {
	background: url('/aif/icons/svg.php');
}

/* Still text but this time office tier */

a[href$=".doc"]:before, a[href$=".docx"]:before, a[href$=".rtf"]:before { /* office */
	background: url('/aif/icons/doc.svg');
}a[href$=".xls"]:before, a[href$=".xlsx"]:before { /* exel */
	background: url('/aif/icons/xls.svg');
}a[href$=".ppt"]:before, a[href$=".pptx"]:before {
	background: url('/aif/icons/ppt.svg');
}


/* Compressed */
a[href$=".zip"]:before {
	background: url('/aif/icons/zip.svg');
}a[href$=".7z"]:before {
	background: url('/aif/icons/svg.7z');
}

/* Software etc */
a[href$=".exe"]:before {
	background: url('/aif/icons/exe.svg');
}a[href$=".iso"]:before {
	background: url('/aif/icons/iso.svg');
}

/* Fonts */
a[href$=".otf"]:before, a[href$=".ttf"]:before {
	background: url('/aif/icons/font.svg');
}

/* Directorys */
a[href*="/"]:before {
	background: url('/aif/icons/folder.svg');
}

#list td > a:before {
  background-size: 30px 23px;
  display: inline-block;
  width: 30px; 
  height: 23px;
  content:"";
}

/* File list table */
table#list {
	width: 99vw;
	margin-left: auto;
	margin-right: auto;
	table-layout:fixed;
}table#list thead th {
	text-align: left;
}table#list thead th:first-child {
	padding-left: 30px;
}table#list thead tr { /* List header */
	background: #222;
}table#list tbody td:not(:first-child) { /* Main list columns, all but first */
	padding: 0px 10px;
	width: 40px;
}table#list tbody tr { /* Main list rows, all (used by hack too) */
    background: #333;
}table#list tbody tr:nth-child(2n) { /* Main list rows, every another starting from second */
    background: #555;
}